# Copyright VMware, Inc.
# SPDX-License-Identifier: APACHE-2.0

version: '2'
services:
  # mariadb:
  #   image: docker.io/bitnami/mariadb:11.1
  #   environment:
  #     # ALLOW_EMPTY_PASSWORD is recommended only for development.
  #     - ALLOW_EMPTY_PASSWORD=yes
  #     - MARIADB_USER=bn_moodle
  #     - MARIADB_DATABASE=bitnami_moodle
  #     - MARIADB_CHARACTER_SET=utf8mb4
  #     - MARIADB_COLLATE=utf8mb4_unicode_ci
  # moodle:
  #   image: docker.io/bitnami/moodle:4.3
  #   ports:
  #     - '80:8080'
  #   environment:
  #     - MOODLE_DATABASE_HOST=mariadb
  #     - MOODLE_DATABASE_PORT_NUMBER=3306
  #     - MOODLE_DATABASE_USER=bn_moodle
  #     - MOODLE_DATABASE_NAME=bitnami_moodle
  #     # ALLOW_EMPTY_PASSWORD is recommended only for development.
  #     - ALLOW_EMPTY_PASSWORD=yes
  #   depends_on:
  #     - mariadb
  mongodb:
    image: mongo:6.0
    restart: always
    environment:
      - MONGO_INITDB_DATABASE=ltidb

  lti:
    build: .
    restart: always
    ports:
      - "3000:3000"
    environment:
      - APP_URL=https://mvp-cool-paper-cd6ade6d.aimvp.eutika.com
      - DB_HOST=mongodb
      - DB_NAME=ltidb
      - LTI_KEY=ltikey
      - PLATFORM_URL=https://web-white-water-6b257f24.aimvp.eutika.com
      - AUTH_ENDPOINT=https://web-white-water-6b257f24.aimvp.eutika.com/mod/lti/auth.php
      - TOKEN_ENDPOINT=https://web-white-water-6b257f24.aimvp.eutika.com/mod/lti/token.php
      - KEY_ENDPOINT=https://web-white-water-6b257f24.aimvp.eutika.com/mod/lti/certs.php
      - CLIENT_ID=3wzAepP7i1sk4yB
